:root {
  --blue: #023CA6;
  --skyblue: #00B1FF;
  --darkblue: #16325B;
  --yellow: #F7C02A;
  --gray: #7087B4;
}


#root {
  margin: 0px;
  text-align: center;
}


/* Navbar Starts Here*/


.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 10px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #EAEAEA;
  /* border: solid black; */
}

.logo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--blue);
}

.logo>span {
  color: var(--skyblue);
}

.navbar-items {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 50px;
  font-size: 1.3rem;
  width: 70%;
  /* border: solid black; */
}

.navbar-items>a {
  font-weight: 500;
  text-decoration: none;
  color: #7e7e7e;
}

.navbar-items>a:hover {
  color: #535353;
}

.navbar-items>button {
  font-size: 1.3rem;
  font-weight: normal;
  color: var(--blue);
  border-radius: 100px;
  padding: 20px 50px;
  margin: 0 20px;
}


.white-button {
  border: 0;
  background-color: white;
  border-radius: 100px;
  cursor: pointer;
  scale: 1;
  box-shadow: #53535300 0px 0px 5px;
  transition: all ease-in-out 0.3s;
}

.white-button:hover {
  scale: 1.05;
  box-shadow: #53535359 5px 5px 5px;
}

/* Navbar Ends Here*/



.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}


/* Home Page */

.main {
  min-height: 80vh;
  box-sizing: border-box;
  margin-top: 100px;
  background: #EAEAEA;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.main>div {
  height: 100%;
}

.main-left-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: start;
}

.main-left-section>h1 {
  color: var(--blue);
  font-size: 3rem;
  font-weight: 700;
}

.main-left-section>h2 {
  color: gray;
  font-weight: 600;
  font-size: 1.9rem;
}

.main-section-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.9rem;
  color: var(--gray);
  font-weight: 500;
}

.main-right-section {
  align-items: center;
  text-align: start;
  width: 50%;
  background-color: #16325B;
  border-radius: 15px;
}

.main-right-section>h1 {
  font-size: 3.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 80%;
}

.form-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.form-inputs>input {
  font-family: inherit;
  font-size: 1.4rem;
  padding: 10px 20px;
  border-radius: 22px;
  background-color: transparent;
  border: white solid;
  color: white;
}

input::placeholder {
  color: white;
  opacity: 0.8;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-10%, 85%);

  opacity: 0;
  /* background-color: transparent; */
  cursor: pointer;
  height: 25px;
  width: 25px;
}

/* custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0%, 85%);
  height: 25px;
  width: 25px;
  z-index: 2;
  background-color: transparent;
  pointer-events: none;
  border-radius: 5px;
  border: white solid 1.5px;
  /* box-sizing: border-box; */

}

input[checkbox]:checked~.checkmark {
  background-color: #2196F3;
}

/*  checkmark hidden when not checked */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* checkmark when checked */
.checkbox input:checked~.checkmark:after {
  content: "✔";
  display: block;
  transform: translate(10%, -10%);
  padding: 1px;
}

.form-button {
  font-family: inherit;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 50px;
  width: 50%;
  background-color: white;
  border: solid white;
  color: var(--blue);
  padding: 10px 0;
  margin: auto;
  transition: all 0.2s ease-in-out;
}

.form-button:hover {
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.sections {
  background-color: #F3F3F3;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 60px;
}

.sections>section {
  width: 70%;
  justify-content: center;
  padding: 40px;

}

.card-section {
  background-color: #F3F3F3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 30px;
}

.card {
  justify-content: center;
  align-items: center;
  background-color: white;
  font-family: inherit;
  padding: 10px 20px;
  border-radius: 15px;
  box-shadow: 78px 73px 175px -89px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 78px 73px 175px -89px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 78px 73px 175px -89px rgba(0, 0, 0, 0.07);
}

.card>h3 {
  color: #023CA6;
  font-weight: 600;
  font-size: 2rem;
}

.card>p {
  color: #7e7d7d;
  font-weight: 500;
  font-size: 1.3rem;
}

.why-section,
.benifits-section,
.faq-section,
.form-section,
.hassle-section,
.focused-section {
  background-color: white;
  border-radius: 15px;
}

.benifits-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}






/* Home Page Ends Here */

/* Footer Starts Here */

.footer {
  background-color: #EAEAEA;
  padding: 30px;
  gap: 40px;
  width: 100%;
  box-sizing: border-box;
  font: inherit;
}

.footer-left>.logo {
  padding: 0px;
  margin: 0;
  font-size: 5rem;
}

.footer-left {
  width: 60%;
}

.footer-left>p {
  color: var(--gray);
  font-size: 1.3rem;
  margin-top: -15px
}


.footer-links {
  gap: 10px;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.footer-links>a {
  font-size: 1.1rem;
  color: var(--skyblue);
  padding: 0 10px;
  border-right: var(--skyblue) solid 2px;
}

.footer-right{
  width: 40%;
}

.footer-form {
  gap: 20px;
}

.footer-form>h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 500;
  color: rgb(71, 71, 71);
  text-align: start;
}

#footer-mobile {
  padding: 20px;
  font-size: 1.5rem;
  color: gray;
  border: gray solid;
  border-radius: 5px;
  font-family: inherit;
}

#footer-mobile::placeholder {
  color: gray;
}

.book-button {
  padding: 20px;
  border: transparent;
  border-radius: 10px;
  /* background: #009adc; */
  font-family: inherit;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  background: linear-gradient(90deg, #009adc 0%, #0041c3 80%);
  background: -webkit-linear-gradient(0deg, #009adc 0%, #0041c3 80%);
  background: -moz-linear-gradient(90deg, #009adc 0%, #0041c3 80%);
  transition: all 0.5s ease-in-out;
}

.book-button:hover {
  background: linear-gradient(90deg, #0041c3 0%, #009adc 100%);
    background: -webkit-linear-gradient(0deg, #0041c3 0%, #009adc 100%);
  background: -moz-linear-gradient(90deg, #0041c3 0%, #009adc 100%);

}

/* Footer Ends Here */